html, body{
    height: 100%; 
}

body{
    display: flex;
  flex-direction: column;
}

header{
    background: linear-gradient(to right, steelblue, rgb(187, 60, 60));
    color: snow;
    text-align: center;
}

h1{
    text-align: center;
}

img {
    height: 4rem;
    width: 4rem;
}

.content{
    flex: 1 0 auto;
}

footer{
    background: linear-gradient(to right, steelblue, rgb(187, 60, 60));
    min-height: 5rem;
    flex-shrink: 0;
}



.btn{
    background-color: steelblue;
    color: snow;
}

.prevBtn{
    background-color: snow;
    color: black;
    
}

.jumbotron{
    background: linear-gradient(to right, steelblue, rgb(187, 60, 60));
    color: snow;
    justify-content: center;
    margin-top: auto;
}

.col-mid-8{
    float: inherit;
}

.forecast-cards{
    display: flex;
    justify-content: space-evenly;
    min-height: 12rem;
    min-width: 18%;
    padding: 1rem;
}

.city-day{
    min-height: 10rem;
}

.per-day{
    background-color: slategrey;
    color: snow;
    min-height: 1rem;
}